<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members</title>
  </head>
  <body>
    <h1>Welcom to the Club!</h1>
    <p>
      Please log in first, if you don't have an account, please click
      <a href="/sign-up">here</a> to create one.
    </p>
    <form action="/log-in" method="POST">
      <p>
        <label for="email">E-mail: </label>
        <input type="email" name="email" id="email" />
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </p>
      <p>
        <button type="submit">Log In</button>
      </p>
    </form>
  </body>
</html>
